section.rates
  table.table.table--striped
    thead
      tr
        th(width='60%') Land
        th(width='20%') Lokaal
        th(width='20%') Tolvrij
    tbody
      each country in rates.leftHalf
        tr
          td
            img(src='/img/flags/' + country.code + '@2x.png', alt=country.code + '-flag', width='23', height='17')
            span= country.name

          if country.local
            td= country.local.format('$0.00')
          else
            td.empty

          if country.tfree
            td= country.tfree.format('$0.00')
          else
            td.empty

    table.table.table--striped
      thead
        tr
          th(width='60%') Land
          th(width='20%') Lokaal
          th(width='20%') Tolvrij
      tbody
        each country in rates.rightHalf
          tr
            td
              img(src='/img/flags/' + country.code + '@2x.png', alt=country.code + '-flag', width='23', height='17')
              span.test= country.name

            if country.local
              td= country.local.format('$0.00')
            else
              td.empty

            if country.tfree
              td= country.tfree.format('$0.00')
            else
              td.empty
