mixin toggle(label, name, checked)

  div.toggle
    label.toggle__label(for='toggle-' + name)!= label
      input.toggle__checkbox(
        name=name,
        value='1',
        type='checkbox',
        id='toggle-' + name,
        class!=attributes.class,
        checked=checked==true,
      )

      div.toggle__slider.toggle__slider--round
