mixin select(label, name, values, placeholder, selectedValue)

  div.select(
    class=label ? 'select--with-label' : ''
    class=selectedValue ? 'select--selected' : ''
  )

    +label(label, name)

    div.select__placeholder
      if values[selectedValue]
        = values[selectedValue]
      else
        = placeholder

    select.select__input(name=name, id="input-"+name, class!=attributes.class)
      option(value='')= placeholder
      each label, value in values
          option(value=value, selected=value===selectedValue)= label
