mixin textarea(label, name, value, placeholder)

  div.textarea(class=label ? 'textarea--with-label' : '')

    +label(label, name)

    textarea.textarea__input(
      name=name,
      value=value,
      placeholder=placeholder,
      id="input-"+name,
      class!=attributes.class,
      disabled!=attributes.disabled,
      autocomplete="off",
      spellcheck="false"
    )= value
